<div class="container">
    <div class="form-group">
      <input type="text" class="form-control" id="usr" [(ngModel)]="filteredStatus">
    </div>
  </div>
  <hr>  
<div  *ngFor="let customer of customersView  | keyvalue | filtered : filteredStatus : 'name'" >
  <!-- <div class="card-deck"   *ngIf="customer.value.id == id"> -->
  <div class="col-md-7 col-sm-7">
  <div class="card">  
    <img class="card-img-top"  [src]="customer.value.file"  />
  </div>
  <div class="col-md-5 col-sm-5">
    <div class="card-body">
        <h4 class="card-title">Name : {{customer.value.name}}</h4>
      <h4 class="card-title"> Customer Id : {{customer.value.id}}</h4>
      <h4 class="card-text"> Email : {{customer.value.email}}</h4>
      <h4 class="card-text">Mobile : {{customer.value.mobile}}</h4>
      <p class="card-text">Address : {{customer.value.address}}</p>
    </div>
  </div>
  </div>
</div>


<div></div>