.card-body{
  margin-left: 642px;
  margin-top: -256px;
}
.card-deck{
  border: 1px solid #888; 
  margin: 5px; border-radius: 10px; 
  display: inline-block;
   padding: 5px; 
   height: 357px;
    width: 99%
}