.card-body{
  margin-left: 379px;
  margin-top: -320px;
  width: 308px;
}
.card-deck{
  border: 1px solid #888; 
  margin: 5px; border-radius: 10px; 
  display: inline-block;
   padding: 5px; 
   height: 357px;
    width: 99%
}
.col-md-7 {
  width: 95.333333%;
}

.card-img-top{
  width : 16%;
  height: 333px

}
.newForm {
  margin-left: 87px;
  margin-right: 575px;
}
.container {
  width: 93%;
}