
<div class="filter">
    <input type="text" [(ngModel)] ="filteredStatus">
    <!-- <button type="btn btn-primary" >Search</button> -->
  </div>
<div class="media" *ngFor="let customer of customersView  | keyvalue | filtered : filteredStatus : 'name'">
        <div class="media-left">
                <img [src]="customer.value.file"  class="media-object" style="width:177px"/>
          <!-- <img src="img_avatar1.png" class="media-object" style="width:60px"> -->
        </div>
        <div class="media-body" >
          <h3 class="media-heading">{{customer.value.name}}</h3>
          <h4><p>{{customer.value.email}}</h4>
          <h4><p>{{customer.value.mobile}}</h4>
            
             <p><a [routerLink]="['/customers',customer.id]" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Edit Profile</a></p>
         
        </div><hr>
      </div>