<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" id="usr" [(ngModel)]="filteredStatus">
  </div>
</div>
<hr>
<div class="container">
<div class="row" *ngFor="let customer of customersView  | keyvalue | filtered : filteredStatus : 'name'"  >
    <div class="card card-default">
        <div class="card-body card-7-5">
          <div class="card-left">
            <img [src]="customer.value.file" class="img-responsive">
          </div>
          <div class="card-right">
            <h2>{{customer.value.name}}</h2>
            <h4>{{customer.value.email}}</h4>
            <h4>{{customer.value.mobile}}</h4>
            
            <a [routerLink]="['/customers',customer.name]" class="btn btn-primary">View Profile</a>
          </div>
        </div>
      </div>
</div>
</div>



    